body{
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  text-align: center;
}

.color-container {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 50px;
  padding: 20px;
  border: 1px solid black;
  margin-bottom: 10px;
  background-color: rgba(0,0,0);
  border-radius: 50px;
}

button{
  height: 50px;
  width: 50px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.3s ease;
}

button:hover {
  transform: scale(1.2);
}